.carousel {
  flex: auto;
  overflow: hidden;
  width: 100%;
  height: 100vh; /* A altura do carrossel ocupa toda a altura da tela */
  justify-content: center;
  align-items: center;
}

.carousel-container {
  flex: auto;
  display: flex;
  width: 100%; /* Ajusta para ocupar toda a largura */
  height: 100%; /* Ajusta para ocupar toda a altura */
  transition: transform 2s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  height: 100%; /* O slide ocupa toda a altura do contêiner */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; /* Garante que a imagem cubra todo o contêiner */
  position: absolute; /* Posiciona a imagem absolutamente dentro do slide */
  top: 0; /* Posiciona a imagem no topo do slide */
  left: 0; /* Posiciona a imagem na esquerda do slide */
  z-index: 1; /* Garante que a imagem esteja abaixo do texto */
}

.slide-text {
  color: white;
  background: rgba(140, 156, 172, 0.4);
  padding: 1em;
  border-radius: 5px;
  max-width: 70%; /* Evita que o texto ultrapasse as bordas da imagem */
  font-size: calc(1em + 0.5vw); /* Ajusta o tamanho da fonte conforme a largura da tela */
  z-index: 10; /* Garante que o texto esteja sobre a imagem */
}

.slide-text h1 {
  font-family: Bahnschrift;
  font-size: 5rem;
  text-shadow: 2px, 2px,;
}
.slide-text p{
  font-family: Bahnschrift;
  font-size: 2rem;
}

/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
  .carousel {
    height: 75vh; /* A altura do carrossel ocupa 75% da altura da tela */
  }

  .slide-text {
    font-size: calc(0.8em + 0.5vw);
    left: 50px; /* Ajusta a posição do texto para 50px da borda esquerda em telas menores */
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .carousel {
    height: 50vh; /* A altura do carrossel ocupa 50% da altura da tela */
  }

  .slide-text {
    font-size: calc(0.7em + 0.5vw);
    top: 10%; /* Ajusta a posição do texto a 10% do topo */
    left: 30px; /* Ajusta a posição do texto para 30px da borda esquerda em smartphones */
  }
}
