<!-- Carrossel Personalizado -->
<section class="carousel">
  <div class="carousel-container">
    <!-- Primeiro Slide -->
    <div class="carousel-slide">
      <img src="../../assets/frota.jpg" alt="Caminhões da Top Transportes">
      <div class="slide-text">
        <h1>Top Transportes</h1>
        <p>A Top Transportes Ltda foi estabelecida há mais de sete anos, com o objetivo de atender a uma crescente demanda no mercado de locação de equipamentos pesados. Desde o início, a empresa focou na excelência do atendimento ao cliente e na qualidade dos equipamentos oferecidos, posicionando-se como uma referência no setor.</p>
      </div>
    </div>
    
    <!-- Segundo Slide -->
    <div class="carousel-slide">
      <img src="../../assets/4-caminhoes.jpg" alt="4 Caminhões">
      <div class="slide-text">
        <h1>Soluções de Envio</h1>
        <p>São projetadas para atender de forma eficiente e segura as necessidades de transporte de diversos setores, como construção civil, agronegócio, e indústrias em geral. A empresa oferece uma ampla gama de serviços personalizados, utilizando uma frota moderna e bem mantida para garantir que cada carga seja entregue no prazo e em perfeitas condições.</p>
      </div>
    </div>
  </div>
</section>