<section class="about">
  <div class="container">
    <div id="Sobre" class="about-content">
      <h2>Sobre a Top Transportes Ltda.</h2>
      <p>A Top Transportes Ltda, localizada em Caetité, Bahia, é uma referência em locação de equipamentos pesados e soluções de transporte, com mais de sete anos de experiência. A empresa oferece uma frota moderna e bem mantida, realizando transporte de materiais pesados e revisão e conserto de seus próprios caminhões. Atendemos a diversos setores, incluindo construção civil, agronegócio, usinas de álcool, duplicação de rodovias, mineração, parques solares, linhas de transmissão, construção de pontes, setor florestal, distribuição de água, obras de gasodutos, túneis e combate ao incêndio. Nos destacamos pelo atendimento de excelência, inovação e compromisso com a qualidade e sustentabilidade.</p>
    </div>
    <div class="about-image">
      <img src="../../assets/caminhao-lanca2.jpg" alt="Top Transportes Truck">
    </div>
  </div>
</section>