/* Services Section */
.services {
  padding: 2rem 0;
  font-family: Bahnschrift;
  font-style: italic;

}

.services .container {
  text-align: center; /* Centraliza o texto e imagens */
}

.services h2 {
  color: black;
  background:rgb(236, 108, 44, 70%);
  padding: 1em;
  border-radius: 5px;
  font-size: 3rem; /* Ajusta o tamanho da fonte conforme a largura da tela */
  z-index: 10; /* Garante que o texto esteja sobre a imagem */
  margin-bottom: 2rem;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center; /* Centraliza os itens da grade */
}

.service {
  padding: 20px;
  border-radius: 10px;
  text-align: center; /* Centraliza o texto dentro do bloco de serviço */
  top: 60%; /* Ajuste o valor conforme necessário para posicionar o texto 70px abaixo do topo */
  left: 70%x; /* Ajuste o valor conforme necessário para posicionar o texto 70px da esquerda */
  color: white;
  background: rgb(41,53,70, 60%);
  padding: 1em;
  border-radius: 5px;
  max-width: 70%; /* Evita que o texto ultrapasse as bordas da imagem */
  font-size: calc(1em + 0.5vw); /* Ajusta o tamanho da fonte conforme a largura da tela */
  z-index: 10; /* Garante que o texto esteja sobre a imagem */
}

.service h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.service p {
  margin-bottom: 15px;
}

.service img {
  width: 100%; /* Ajusta a largura da imagem ao contêiner */
  max-width: 300px; /* Define a largura máxima da imagem */
  height: auto; /* Altura automática para manter a proporção */
  border-radius: 5px;
  display: block; /* Garante que a imagem seja exibida como um bloco */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

/* Estilo para uma imagem específica, se necessário */
.imagem-custom {
  width: 300px;  /* Define a largura desejada da imagem */
  height: auto;  /* Altura automática para manter a proporção */
  max-height: 300px;  /* Define a altura máxima para a imagem */
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
  display: block; /* Garante que a imagem seja exibida como um bloco */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
  top: 0; /* Posiciona a imagem no topo do slide */
  left: 0; /* Posiciona a imagem na esquerda do slide */
}


/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
  .services {
    height: 100%; /* A altura do carrossel ocupa 75% da altura da tela */

    font-size: 1rem;
    left: 10px; /* Ajusta a posição do texto para 50px da borda esquerda em telas menores */
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .services {
    height: 60%; /* A altura do carrossel ocupa 50% da altura da tela */

    font-size: 0,5rem;
    top: 10%; /* Ajusta a posição do texto a 10% do topo */
    left: 10px; /* Ajusta a posição do texto para 30px da borda esquerda em smartphones */
  }
}
