/* service Section */
.service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
  color: black;
  background: rgba(255, 154, 39, 0.19);
  margin-bottom: 2rem;
  text-align: left;
  padding: 2em;
  max-width: 100%; /* Evita que o texto ultrapasse as bordas da imagem */
  font-size: calc(1em + 0.5vw); /* Ajusta o tamanho da fonte conforme a largura da tela */
}


.texto{
  max-width: 800px;
}

.midlle{
  background-color: rgba(4, 4, 4, 0.19)
}

.img{
  height: auto; /* Altura automática para manter a proporção */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}


.imagem-customizada {
  width: 400px;  /* Define a largura desejada da imagem */
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
  border-radius: 10px;
}

/* Ajuste responsivo para telas menores */
/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
  .services {
    height: 100%; /* A altura do carrossel ocupa 75% da altura da tela */

    font-size: 1rem;
    left: 10px; /* Ajusta a posição do texto para 50px da borda esquerda em telas menores */
  }
  .imagem-customizada{
    max-width: 100%;
    max-height: 100%;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .services {
    height: 60%; /* A altura do carrossel ocupa 50% da altura da tela */

    font-size: 0,5rem;
    top: 10%; /* Ajusta a posição do texto a 10% do topo */
    left: 10px; /* Ajusta a posição do texto para 30px da borda esquerda em smartphones */
  }
  .imagem-customizada{
    max-width: 100%;
    max-height: 100%;
  }
}
